

.attention-inside-content {
    width: 500px;
    min-height: 200px;
    background: #fff;
    border-radius: 20px;
    padding: 20px 30px 30px;
    font-size: 28px;
    color: rgb(70, 70, 70);

    .title {
        text-align: center;
        font-size: 42px;
        font-weight: bold;
    }
    .msg {
        margin-top: 10px;
    }
    .attention-btn {
        width: 300px;
        margin: 50px auto 0;
        background: rgb(82, 69, 128);
        color: #fff;
        height: 80px;
        line-height: 80px;
        font-size: 38px;
        border-radius: 10px;
        text-align: center;
    }
}