

.attention-inside-content {
    width: 500px;
    min-height: 200px;
    background: #fff;
    border-radius: 20px;
    padding: 20px 30px 30px;
    font-size: 28px;
    color: rgb(70, 70, 70);

    .title {
        text-align: center;
        font-size: 42px;
        font-weight: bold;
    }
    .msg {
        margin-top: 10px;
    }
}